
body{
    font-family: 'montserratt', sans-serif;
 
  .app{
    background-image: url('../../images/rain.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease-out;
  }
  
  .warm{
    background-image: url('../../images/sun.jpg');
  }
  
  main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
  }
}
