.location-box{

    .location{
      color: #FFF;
      font-size: 32px;
      text-align: center;
      text-shadow: 3px 3px rgba(50,50,70,0.5);
    }
  
    .date{
      color: #FFF;
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      text-align: center;
      text-shadow: 2px 2px rgba(50,50,50,0.5);
    }
}