.search-box{
    max-width: 300px;
    width: 100%;
    margin: 0 auto 1rem auto;
  
    .search-bar{
      display: block;
      width: 100%;
      padding: 15px;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      border: 1px solid white;
      border-radius: 15px;
      color: white;
      font-size: 20px;
      transition: 0.4s ease;

      &:focus{
        background-color: rgba(255,255,255,0.25);
      }
    }
  }
  
  ::placeholder{
    color: white;
  }
  